<form #form="ngForm" (submit)="onSubmit(url.value, chainID.value)">
  <mat-form-field fxFill>
    <mat-label>URL</mat-label>
    <input
      matInput
      required
      pattern="^http(s)?://([\w-]+\.)+[\w-]+(/[\w- ./?%&=]*)?$"
      name="url"
      #url
    />
  </mat-form-field>
  <mat-form-field fxFill>
    <mat-label>Chain ID</mat-label>
    <input matInput required name="chain-id" #chainID />
  </mat-form-field>
  <button mat-flat-button fxFill color="accent">Go to Explorer</button>
</form>
