<mat-drawer-container>
  <mat-drawer #drawer class="mat-elevation-z16" [mode]="(drawerMode$ | async) || 'over'"
    [opened]="drawerOpened$ | async">
    <mat-toolbar class="mat-elevation-z4 toolbar" color="primary">
      <button mat-icon-button routerLink="/">
        <img class="p-2.5 w-10 h-10" src="/favicon.png" />
      </button>
      <h1>Telescope</h1>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item routerLink="/">
        <mat-icon class="mr-2" color="primary">other_houses</mat-icon>Home
      </mat-list-item>
      <mat-list-item routerLink="/blocks">
        <mat-icon class="mr-2" color="primary">account_tree</mat-icon>Blocks
      </mat-list-item>
      <mat-list-item routerLink="/txs">
        <mat-icon class="mr-2" color="primary">mail</mat-icon>Txs
      </mat-list-item>
      <mat-list-item routerLink="/keys">
        <mat-icon class="mr-2" color="primary">manage_accounts</mat-icon>Keys
      </mat-list-item>
      <mat-list-item routerLink="/cosmos/bank">
        <mat-icon class="mr-2" color="primary">sync_alt</mat-icon>Bank
      </mat-list-item>
      <mat-list-item routerLink="/cosmos/staking">
        <mat-icon class="mr-2" color="primary">savings</mat-icon>Staking
      </mat-list-item>
      <mat-list-item routerLink="/cosmos/gov">
        <mat-icon class="mr-2" color="primary">message</mat-icon>Gov
      </mat-list-item>
      <ng-template ngFor let-extension [ngForOf]="extensionNavigations">
        <ng-container *ngIf="extension?.name && extension?.link">
          <a mat-list-item [href]="extension.link">
            <mat-icon class="mr-2" color="primary"> {{ extension.icon }}</mat-icon>
            {{ extension.name }}
          </a>
        </ng-container>
      </ng-template>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="mat-typography">
    <mat-toolbar class="mat-elevation-z4 toolbar" color="primary">
      <button mat-icon-button class="visible sm:invisible" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <view-toolbar [searchValue]="searchValue" (appSubmitSearchValue)="onSubmitSearchValue($event)"></view-toolbar>
    </mat-toolbar>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
