<h2>Inflation</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span>Current Annual Inflation Rate: </span>
      <span class="flex-auto"></span>
      <span class="ml-2">{{ inflation?.inflation | number:'1.9-9' }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>

<h2>Annual Provisions</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span>Current Annual Expected Provisions: </span>
      <span class="flex-auto"></span>
      <span class="ml-2">{{ annualProvisions?.annual_provisions | number:'1.6-6' }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>
