<h2>Inflation</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span class="column-name">Current Annual Inflation Rate: </span>
      <span class="flex-auto"></span>
      <span class="column-value">{{ inflation?.inflation }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>

<h2>Annual Provisions</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span class="column-name">Current Annual Expected Provisions: </span>
      <span class="flex-auto"></span>
      <span class="column-value">{{ annualProvisions?.annual_provisions }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>
