<mat-stepper orientation="vertical" linear #stepper>
  <mat-step [completed]="saved">
    <ng-template matStepLabel>Save your Mnemonic</ng-template>
    <div>
      <button mat-flat-button class="w-full" color="accent" (click)="saveMnemonic()">
        Download
      </button>
    </div>
    <button mat-button [disabled]="!saved" matStepperNext>Next</button>
  </mat-step>
  <mat-step [completed]="checked">
    <form #formRef="ngForm" (submit)="checkSaveMnemonic(inputMnemonic)">
      <ng-template matStepLabel>Check</ng-template>
      <p>Input {{ordinal(requiredMnemonicNumber)}} mnemonic</p>
      <mat-form-field appearance="fill">
        <mat-label>mnemonic</mat-label>
        <input matInput required name="mnemonic" [(ngModel)]="inputMnemonic">
      </mat-form-field>
      <div>
        <button mat-flat-button class="w-1/4" color="accent">Check</button>
      </div>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button [disabled]="!checked" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-flat-button class="w-1/2" color="accent" (click)="onClickSubmit(this.saved)">
      Submit
    </button>
  </mat-step>
</mat-stepper>
