<mat-dialog-content>
  <mat-nav-list>
    <ng-template ngFor let-key [ngForOf]="data.keys">
      <mat-list-item (click)="onClickKey(key)">
        <mat-icon matListIcon [ngStyle]="{ color: getColorCode(key) }"> circle </mat-icon>
        <span>{{ key.id }}</span>
        <span class="flex-auto"></span>
        <ng-container *ngIf="data.currentKeyID === key.id">
          <mat-icon color="primary">check</mat-icon>
        </ng-container>
      </mat-list-item>
    </ng-template>
  </mat-nav-list>
</mat-dialog-content>
