<h2>Block</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span class="column-name">BlockHash:</span>
      <span class="flex-auto"></span>
      <span class="column-value">{{ block?.block_id?.hash }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="column-name">BlockHeight:</span>
      <span class="flex-auto"></span>
      <span class="column-value">{{ block?.block?.header?.height }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="column-name">Timestamp:</span>
      <span class="flex-auto"></span>
      <span class="column-value">{{ block?.block?.header?.time }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list>
</mat-card>

<h3>Validatorsets</h3>
<ng-container *ngFor = "let validatorset of validatorsets?.validators">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <span class="column-name">Address:</span>
        <span class="flex-auto"></span>
        <span class="column-value">{{ validatorset.address }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="column-name">Voting Power:</span>
        <span class="flex-auto"></span>
        <span class="column-value">{{ validatorset.voting_power }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="column-name">Proposer Priority:</span>
        <span class="flex-auto"></span>
        <span class="column-value">{{ validatorset.proposer_priority }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
  </mat-card>
</ng-container>
