<h2>Block</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span class="whitespace-nowrap">BlockHash:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ block?.block_id?.hash }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">BlockHeight:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">{{ block?.block?.header?.height }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Timestamp:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">
        {{ block?.block?.header?.time | date : 'yyyy-M-d a h:mm:ss z' }}
      </span>
    </mat-list-item>
  </mat-list>
</mat-card>

<h3>Validator sets</h3>
<ng-container *ngFor="let validatorset of validatorsets?.validators">
  <mat-card class="mb-2">
    <mat-list>
      <mat-list-item>
        <span class="whitespace-nowrap">Address:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">{{ validatorset.address }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="whitespace-nowrap">Voting Power:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">{{ validatorset.voting_power }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="whitespace-nowrap">Proposer Priority:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">{{ validatorset.proposer_priority }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</ng-container>
