<h2>Latest Transactions</h2>
<mat-card>
  <mat-nav-list>
    <ng-container *ngFor="let latestTx of latestTxs">
      <mat-list-item routerLink="/txs/{{ latestTx.result.events['tx.hash'][0] }}">
        <span class="column-value">{{ latestTx.result.data.value.TxResult.height }}</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ latestTx.result.events['tx.hash'][0] }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngFor="let initialTx of initialTxs?.tx_responses">
      <mat-list-item routerLink="/txs/{{ initialTx.txhash }}">
        <span class="column-value">{{ initialTx.height }}</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ initialTx.txhash }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</mat-card>
