<h2>Node Info</h2>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="column-name">Network: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ nodeInfo?.node_info?.network }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Moniker: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ nodeInfo?.node_info?.moniker }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">ID:</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ nodeInfo?.node_info?.id }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Version: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ nodeInfo?.node_info?.version }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Channels: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ nodeInfo?.node_info?.channels }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
<h3>Application version</h3>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="column-name">Name:</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{
          nodeInfo?.application_version?.name
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Version: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">
          {{ nodeInfo?.application_version?.version }}
        </span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Commit: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">
          {{ nodeInfo?.application_version?.commit }}
        </span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="column-name">Go: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">
          {{ nodeInfo?.application_version?.go }}
        </span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
<h3>Syncing</h3>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="column-name">Syncing: </span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ syncing }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-nav-list>
  <h3 matSubheader>Txs</h3>
  <mat-divider></mat-divider>
  <ng-container *ngIf="txs === null; then loading; else loaded"></ng-container>
  <ng-template #loading>
    <mat-progress-spinner
      [diameter]="60"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(txs?.txs?.length || 0) > 0; then exist; else empty">
    </ng-container>
  </ng-template>
  <ng-template #exist>
    <ng-template ngFor let-tx [ngForOf]="txs?.txs || []">
      <mat-list-item routerLink="/txs/{{ tx.hash }}">
        <span>{{ tx.hash }}</span>
        <span fxFlex="auto"></span>
        <span>{{ tx.height }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </ng-template>
  <ng-template #empty>
    <p class="empty">There is no tx.</p>
  </ng-template>
</mat-nav-list>
