<mat-dialog-content>
  <div>The tx fee will be {{ data.fee.amount }} {{ data.fee.denom }}.</div>
  <ng-container *ngIf="data.isTxFeeOver; then over; else ok"></ng-container>
  <ng-template #over>
    <div>Review the amount of {{ data.fee.denom }}, you are trying to send.</div>
  </ng-template>
  <ng-template #ok>
    <div>Are you sure you want to send the tx with the fee?</div>
  </ng-template>
  <button
    mat-flat-button
    class="w-2/5"
    color="primary"
    [disabled]="data.isTxFeeOver"
    (click)="okToSendTx()"
  >
    OK
  </button>
  <button mat-flat-button class="w-2/5" color="basic" (click)="cancelToSendTx()">Cancel</button>
</mat-dialog-content>
