<app-view-create-validator
  [key]="key$ | async"
  [moniker]="moniker$ | async"
  [identity]="identity$ | async"
  [website]="website$ | async"
  [security_contact]="security_contact$ | async"
  [details]="details$ | async"
  [rate]="rate$ | async"
  [max_rate]="max_rate$ | async"
  [max_change_rate]="max_change_rate$ | async"
  [min_self_delegation]="min_self_delegation$ | async"
  [delegator_address]="delegator_address$ | async"
  [validator_address]="validator_address$ | async"
  [denom]="denom$ | async"
  [amount]="amount$ | async"
  [ip]="ip$ | async"
  [node_id]="node_id$ | async"
  [pubkey]="pubkey$ | async"
  [minimumGasPrices]="minimumGasPrices"
  (submitCreateValidator)="appSubmitCreateValidator($event)"
></app-view-create-validator>
