.validator-container {
  padding: 0px 16px 0px;
  overflow-y: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.column-container {
  width: 100%;
}

.column-name {
  white-space: nowrap;
}

.column-value {
  margin-left: 8px;
  word-break: break-all;
}
