<h2>
  <div class="flex flex-row">
    <span>{{ key?.id }}</span>
    <span class="flex-auto"></span>
    <button (click)="openDeleteDialog(key?.id || '')" color="accent">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
</h2>

<mat-list>
  <mat-card>
    <mat-list-item>
      <span class="whitespace-nowrap">Public Key:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs md:text-base">{{ key?.public_key }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="whitespace-nowrap">AccAddress:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ accAddress?.toString() }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="whitespace-nowrap">ValAddress:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ valAddress?.toString() }}</span>
    </mat-list-item>
  </mat-card>
</mat-list>

<ng-container *ngIf="faucets; then existFaucets; else emptyFaucets"></ng-container>
<ng-template #existFaucets>
  <mat-nav-list>
    <mat-card>
      <ng-container *ngFor="let faucet of faucets">
        <mat-list-item routerLink="/faucet" [queryParams]="{
            address: accAddress?.toString(),
            denom: faucet.denom,
            amount: faucet.creditAmount
          }">
          <mat-icon color="accent">clean_hands</mat-icon>
          Go to Faucet of {{ faucet.denom }}
        </mat-list-item>
      </ng-container>
    </mat-card>
  </mat-nav-list>
</ng-template>
<ng-template #emptyFaucets></ng-template>

<mat-nav-list>
  <mat-card>
    <mat-list-item routerLink="/accounts/{{ accAddress?.toString() }}">
      <mat-icon color="accent">account_balance_wallet </mat-icon>
      Show Account Info
    </mat-list-item>
  </mat-card>
</mat-nav-list>
