<h2>Transaction</h2>
<mat-card>
  <mat-list>
    <mat-list-item>
      <span class="whitespace-nowrap">TxHash:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ tx?.tx_response?.txhash }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Height: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.height }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Gas Used: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.gas_used }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Gas Wanted: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.gas_wanted }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Timestamp: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">
        {{ tx?.tx_response?.timestamp | date : 'yyyy-M-d a h:mm:ss z' }}
      </span>
    </mat-list-item>

  </mat-list>
</mat-card>

<h3>Msgs</h3>
<ng-template ngFor let-message [ngForOf]="tx?.tx?.body?.messages">
  <ng-container *ngIf="unpackMsg(message) as msg">
    <mat-card>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Type: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ constructorName(msg) }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <ng-template ngFor let-data [ngForOf]="entries(msg)" let-last="last">
          <mat-list-item>
            <span class="whitespace-nowrap">{{ data[0] }}</span>
            <span class="flex-auto"></span>
            <span class="ml-2 break-all text-xs sm:text-base">{{ data[1] | json }}</span>
          </mat-list-item>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-list>
    </mat-card>
  </ng-container>
</ng-template>

<h3>Signatures</h3>
<ng-template ngFor let-signerInfo [ngForOf]="tx?.tx?.auth_info?.signer_infos">
  <ng-container *ngIf="unpackKey(signerInfo.public_key) as pubKey">
    <mat-card class="mb-2">
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Key Type: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ constructorName(pubKey) }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Public Key: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ pubKey?.toString() }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Signature: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ signerInfo?.mode_info }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </ng-container>
</ng-template>

<h3>Logs</h3>
<ng-template ngFor let-log [ngForOf]="tx?.tx_response?.logs">
  <ng-template ngFor let-event [ngForOf]="log.events">
    <mat-card class="mb-2">
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Type: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ event.type }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <ng-template ngFor let-attr [ngForOf]="event.attributes" let-last="last">
          <mat-list-item>
            <span class="whitespace-nowrap">{{ attr.key }}</span>
            <span class="flex-auto"></span>
            <span class="ml-2 break-all text-sm sm:text-base">{{ attr.value | json }}</span>
          </mat-list-item>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-list>
    </mat-card>
  </ng-template>
</ng-template>

<!--
<h3>Data Download</h3>

<body>
  <button mat-flat-button color="accent" id="download" type="button">Download CSV</button>
  <script type="text/javascript" src="download.csv.js"></script>
</body>
-->
