<div class="flex flex-row justify-between content-start items-start">
  <h2>Transactions</h2>
  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectedTxType" (valueChange)="onSelectedTxTypeChanged($event)">
      <mat-option *ngFor="let txType of txTypeOptions" [value]="txType">{{ txType }} </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-card>
    <mat-list>
      <mat-list-item>
        <span class="break-all truncate pr-4">Block Height</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">Tx Hash</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <ng-container *ngIf="(txs?.length || 0) > 0; then exist; else empty"></ng-container>
    <ng-template #empty></ng-template>
    <ng-template #exist>
      <mat-nav-list>
        <ng-container *ngFor="let tx of txs">
          <mat-list-item routerLink="/txs/{{ tx.txhash }}">
            <span class="pr-4 font-mono">{{ tx.height }}</span>
            <span class="flex-auto"></span>
            <span class="break-all truncate font-mono">{{ tx.txhash }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </ng-template>
    <mat-paginator [length]="pageLength" [pageSize]="pageInfo ? pageInfo.pageSize : 5"
      [pageIndex]=" pageInfo ? pageInfo.pageNumber - 1 : 0" [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
      (page)="onPaginationChange($event)">
    </mat-paginator>
  </mat-card>
</div>