<h2>Create Validator</h2>
<form #formRef="ngForm" (submit)="onSubmitCreateValidator(
  privateKeyRef.value,
  monikerRef.value,
  identityRef.value,
  websiteRef.value,
  securityContactRef.value,
  detailsRef.value,
  rateRef.value,
  maxRateRef.value,
  maxChangeRateRef.value,
  minSelfDelegationRef.value,
  delegatorAddressRef.value,
  validatorAddressRef.value,
  denomRef.value,
  amountRef.value,
  ipRef.value,
  nodeIdRef.value,
  pubkeyRef.value,
  minimumGasPriceRef.value)"
>
  <mat-form-field class="w-full">
    <mat-label>Moniker</mat-label>
    <input
      #monikerRef
      [(ngModel)]="moniker"
      name="moniker"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Identity</mat-label>
    <input
      #identityRef
      [(ngModel)]="identity"
      name="identity"
      matInput
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Website</mat-label>
    <input
      #websiteRef
      [(ngModel)]="website"
      name="website"
      matInput
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Security contact</mat-label>
    <input
      #securityContactRef
      [(ngModel)]="security_contact"
      name="security_contact"
      matInput
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Details</mat-label>
    <input
      #detailsRef
      [(ngModel)]="details"
      name="details"
      matInput
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Rate</mat-label>
    <input
      #rateRef
      [(ngModel)]="rate"
      name="rate"
      matInput
      type="text"
      required
      pattern="^[0-9]+$"
    />
    <span matSuffix>%</span>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Max rate</mat-label>
    <input
      #maxRateRef
      [(ngModel)]="max_rate"
      name="max_rate"
      matInput
      type="text"
      required
      pattern="^[0-9]+$"
    />
    <span matSuffix>%</span>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Max change rate</mat-label>
    <input
      #maxChangeRateRef
      [(ngModel)]="max_change_rate"
      name="max_change_rate"
      matInput
      type="text"
      required
      pattern="^[0-9]+$"
    />
    <span matSuffix>%</span>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Min self delegation</mat-label>
    <input
      #minSelfDelegationRef
      [(ngModel)]="min_self_delegation"
      name="min_self_delegation"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Delegator address</mat-label>
    <input
      #delegatorAddressRef
      [(ngModel)]="delegator_address"
      name="delegator_address"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Validator address</mat-label>
    <input
      #validatorAddressRef
      [(ngModel)]="validator_address"
      name="validator_address"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Denom</mat-label>
    <input
      #denomRef
      [(ngModel)]="denom"
      name="denom"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Amount</mat-label>
    <input
      #amountRef
      [(ngModel)]="amount"
      name="amount"
      matInput
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>IP or Domain</mat-label>
    <input
      #ipRef
      [(ngModel)]="ip"
      type="text"
      name="ip"
      matInput
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Node id</mat-label>
    <input
      #nodeIdRef
      [(ngModel)]="node_id"
      type="text"
      name="node_id"
      matInput
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Tendermint public key</mat-label>
    <input
      #pubkeyRef
      [(ngModel)]="pubkey"
      type="text"
      name="pubkey"
      matInput
      required
    />
  </mat-form-field>

  <h4 class="pt-3">Gas Settings</h4>
  <div class="flex flex-row content-content items-end">
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Denom</mat-label>
      <mat-select
        [(ngModel)]="minimumGasPrice && minimumGasPrice.denom"
        name="minimum-gas-denom"
        required
        (valueChange)="onMinimumGasDenomChanged($event)"
      >
        <mat-option *ngFor="let minimumGasPriceOption of minimumGasPrices" [value]="minimumGasPriceOption.denom">
          {{ minimumGasPriceOption.denom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Price</mat-label>
      <input
        [(ngModel)]="minimumGasPrice && minimumGasPrice.amount"
        #minimumGasPriceRef
        name="minimum-gas-price"
        matInput
        type="number"
        [min]="0"
        required
      />
    </mat-form-field>
  </div>
  <mat-slider class="w-full"
    [max]="1"
    [min]="0"
    [step]="0.015"
    [(ngModel)]="minimumGasPrice && minimumGasPrice.amount"
    name="minimum-gas-price-slider"
  >
  </mat-slider>

  <h4 class="pt-3">Signer</h4>
  <mat-form-field class="w-full">
    <mat-label>ID</mat-label>
    <input
      #idRef
      [ngModel]="key?.id"
      name="id"
      matInput
      type="text"
      autocomplete="username"
      required
      readonly
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Private key</mat-label>
    <input
      #privateKeyRef
      ngModel
      type="password"
      name="privateKey"
      autocomplete="current-password"
      matInput
      required
    />
  </mat-form-field>
  <button mat-flat-button color="accent" [disabled]="formRef.invalid">Submit</button>
</form>
