<ng-container *ngIf="validator === null; then loading; else loaded">
</ng-container>
<ng-template #loading>
  <mat-progress-spinner
    [diameter]="60"
    [mode]="'indeterminate'"
  ></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="validator !== undefined; then exist; else notFound">
  </ng-container>
</ng-template>
<ng-template #exist>
  <h2>Validator: {{ validator.operator_address }}</h2>

  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="column-name">Status: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">{{ validator?.status }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Consensus Pubkey:</span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.consensus_pubkey }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Tokens: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">{{ validator?.tokens }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Delegator Shares: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">{{ validator?.delegator_shares }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Unbounding Height: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">{{ validator?.unbonding_height }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Min Self Delegation: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.min_self_delegation }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Unbounding Time: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">{{ validator?.unbonding_time }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h3>Commision</h3>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="column-name">Rate: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.commission?.commission_rates?.rate }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Max Rate: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.commission?.commission_rates?.max_rate }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Max Change Rate: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.commission?.commission_rates?.max_change_rate }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Update Time:</span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.commission?.commission_rates.update_time }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h4>Description</h4>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="column-name">Moniker: </span>
          <span class="column-value">
            {{ validator?.description?.moniker }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Identity: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.description?.identity }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Website: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.description?.website }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Security Contact: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.description?.security_contact }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="column-name">Details: </span>
          <span fxFlex="auto"></span>
          <span class="column-value">
            {{ validator?.description?.details }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #notFound>
  <p class="empty">404 Not Found</p>
</ng-template>
