<div class="flex flex-row justify-between content-start items-start">
  <h2>Latest Transactions</h2>
  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectedTxType" (valueChange)="onSelectedTxTypeChanged($event)">
      <mat-option *ngFor="let txType of txTypeOptions" [value]="txType">{{txType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="overflow-scroll h-80">
  <mat-card>
    <mat-nav-list>
      <ng-container *ngIf="initialTxs === undefined || null ; then empty; else exist"></ng-container>
      <ng-template #empty></ng-template>
      <ng-template #exist>
        <mat-list-item>
          <span class="break-all truncate pr-4">Block Height</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">Tx Hash</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let initialTx of initialTxs">
          <mat-list-item routerLink="/txs/{{ initialTx.txhash }}">
            <span class="pr-4">{{ initialTx.height }}</span>
            <span class="flex-auto"></span>
            <span class="break-all truncate">{{ initialTx.txhash }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
