<h2>{{ key?.id }}</h2>

<mat-list>
  <mat-card>
    <mat-list-item>
      <span>Public Key</span>
      <span fxFlex="auto"></span>
      <span>{{ key?.public_key }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>AccAddress</span>
      <span fxFlex="auto"></span>
      <span>{{ accAddress?.toString() }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>ValAddress</span>
      <span fxFlex="auto"></span>
      <span>{{ valAddress?.toString() }}</span>
    </mat-list-item>
  </mat-card>
</mat-list>

<mat-nav-list>
  <mat-card>
    <mat-list-item routerLink="/accounts/{{ accAddress?.toString() }}">
      <mat-icon color="accent">account_balance_wallet </mat-icon>
      Show Account Info
    </mat-list-item>
  </mat-card>
</mat-nav-list>
