<h2>{{ key?.id }}</h2>

<mat-list>
  <mat-card>
    <mat-list-item>
      <span>Public Key</span>
      <span fxFlex="auto"></span>
      <span>{{ key?.public_key }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>AccAddress</span>
      <span fxFlex="auto"></span>
      <span>{{ accAddress?.toBech32() }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>ValAddress</span>
      <span fxFlex="auto"></span>
      <span>{{ valAddress?.toBech32() }}</span>
    </mat-list-item>
  </mat-card>
</mat-list>
