<h2>Blocks</h2>
<div>
  <mat-card>
    <ng-container *ngIf="blocks === undefined || null; then empty; else exist"></ng-container>
    <ng-template #empty></ng-template>
    <ng-template #exist>
      <mat-list>
        <mat-list-item>
          <span class="break-all truncate pr-4">Height</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">Time</span>
        </mat-list-item>
      </mat-list>
      <mat-nav-list>
        <ng-container *ngFor="let block of blocks">
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/blocks/{{ block?.block?.header?.height }}">
            <span class="pr-4">{{ block?.block?.header?.height }}</span>
            <span class="flex-auto"></span>
            <span class="break-all text-sm sm:text-base">
              {{ block?.block?.header?.time | date : 'yyyy-M-d a h:mm:ss z' }}
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageIndex]="pageNumber ? pageNumber - 1 : 0"
          [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []" (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-nav-list>
    </ng-template>
  </mat-card>
</div>
