<ng-container *ngIf="validator === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="validator !== undefined; then exist; else notFound"> </ng-container>
</ng-template>
<ng-template #exist>
  <h2>
    <div class="flex">
      <span>Validator: </span>
      <span class="ml-2 break-all">{{ validator?.operator_address }}</span>
    </div>
  </h2>

  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Status: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ validator?.status }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Consensus Pubkey:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-xs md:text-base">{{ publicKey }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Tokens: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ validator?.tokens | number:'1.0-0' }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Delegator Shares: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ validator?.delegator_shares | number:'1.6-6' }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Unbonding Height: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ validator?.unbonding_height }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Min Self Delegation: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.min_self_delegation }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Unbonding Time: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">
            {{ validator?.unbonding_time | date : 'yyyy-M-d a h:mm:ss z' }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h3>Commission</h3>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Rate: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.commission?.commission_rates?.rate | number:'1.6-6' }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Max Rate: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.commission?.commission_rates?.max_rate | number:'1.6-6' }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Max Change Rate: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.commission?.commission_rates?.max_change_rate | number:'1.6-6' }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h4>Description</h4>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Moniker: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.description?.moniker }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Identity: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.description?.identity }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Website: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.description?.website }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Security Contact: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.description?.security_contact }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span class="whitespace-nowrap">Details: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">
            {{ validator?.description?.details }}
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #notFound>
  <p>404 Not Found</p>
</ng-template>
