<h2>Daily Rewards</h2>
<mat-card>
  <form #formRef="ngForm" (submit)="onSubmit(startRef.value, endRef.value)">
    <mat-form-field fxFill>
      <mat-label>Choose a Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          #startRef="ngModel"
          [(ngModel)]="startDate"
          [ngModelOptions]="{ standalone: true }"
          matStartDate
          matInput
          placeholder="Start date"
        />
        <input
          #endRef="ngModel"
          [(ngModel)]="endDate"
          [ngModelOptions]="{ standalone: true }"
          matEndDate
          matInput
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <br />
    <button mat-flat-button fxFill color="accent">Submit</button>
  </form>
</mat-card>

<ng-container *ngIf="dataArray === null; then loading; else loaded"></ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #empty>
  <p>No Data</p>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(dataArray || []).length > 0; else empty">
    <mat-card *ngFor="let data of dataArray">
      <mat-list>
        <mat-list-item>
          <span class="column-name">Date:</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{ data.before_date }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column-name">Commission:</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{
            data.result.commission.commission.commission[0].amount
          }}</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{
            data.result.commission.commission.commission[0].denom
          }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column-name">Outstanding Rewards:</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{
            data.result.outstanding_rewards.rewards.rewards[0].amount
          }}</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{
            data.result.outstanding_rewards.rewards.rewards[0].denom
          }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column-name">Calculated Time:</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{ data.date }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card>
  </ng-container>
</ng-template>
