@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
}

mat-progress-spinner {
  margin: 1em auto;
}


