/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
  height: 100%;
  background-color: inherit !important;
}

mat-drawer {
  width: 300px;
  overflow: auto;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;
}

mat-spinner {
  margin: 1em auto;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
