<form #form="ngForm" [ngClass.xs]="'xs'">
  <mat-form-field appearance="fill">
    <mat-label>Tx Hash or Address</mat-label>
    <input
      #searchValueRef
      matInput
      required
      id="searchValue"
      name="searchValue"
      [ngModel]="searchValue"
      [formControl]="searchBox"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      [disabled]="form.invalid"
      [matMenuTriggerFor]="searchSelector"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>
