<h2>Node Info</h2>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="whitespace-nowrap">Network (chain_id): </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.default_node_info?.network }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Moniker: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.default_node_info?.moniker }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">ID:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.default_node_info?.default_node_id }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Version: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.default_node_info?.version }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Channels: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.default_node_info?.channels }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<h2>Application version</h2>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="whitespace-nowrap">Name:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ nodeInfo?.application_version?.name }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Version: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">
          {{ nodeInfo?.application_version?.version }}
        </span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Commit: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">
          {{ nodeInfo?.application_version?.git_commit }}
        </span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>

      <mat-list-item>
        <span class="whitespace-nowrap">Go: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-sm sm:text-base">
          {{ nodeInfo?.application_version?.go_version }}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<h2>Syncing</h2>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="whitespace-nowrap">Syncing: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ syncing }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- <mat-nav-list>
  <div class="flex flex-row">
    <h3 matSubheader>Txs</h3>
    <span class="flex-auto"></span>
    <mat-form-field>
      <mat-label>Message action type</mat-label>
      <mat-select [value]="initialMessageAction" (selectionChange)="onMessageActionChange($event)">
        <ng-template ngFor let-messageAction [ngForOf]="messageActions">
          <mat-option [value]="messageAction">
            {{ messageAction }}
          </mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="txs === null; then loading; else loaded"></ng-container>
  <ng-template #loading>
    <mat-progress-spinner
      [diameter]="60"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(txs?.txs?.length || 0) > 0; then exist; else empty">
    </ng-container>
  </ng-template>
  <ng-template #exist>
    <ng-template ngFor let-tx [ngForOf]="txs?.txs || []">
      <mat-list-item routerLink="/txs/{{ tx.txhash }}">
        <span>{{ tx.txhash }}</span>
        <span class="flex-auto"></span>
        <span>{{ tx.height }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </ng-template>
  <ng-template #empty>
    <p>There is no tx.</p>
  </ng-template>
</mat-nav-list> -->
