<h2>Latest Blocks</h2>
<mat-card>
  <mat-nav-list>
    <ng-container *ngFor="let latestBlock of latestBlocks">
      <mat-list-item routerLink="/blocks/{{ latestBlock.result.data.value.block.header.height }}">
        <span class="column-value">{{ latestBlock.result.data.value.block.header.height }}</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ latestBlock.result.data.value.block.header.time }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <!--<ng-container *ngFor="let initialBlock of initialBlocks">-->
      <mat-list-item routerLink="/blocks/{{ initialBlocks?.block?.header?.height }}">
        <span class="column-value">{{ initialBlocks?.block?.header?.height }}</span>
        <span fxFlex="auto"></span>
        <span class="column-value">{{ initialBlocks?.block?.header?.time }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    <!--</ng-container>-->
  </mat-nav-list>
</mat-card>
